POSTGRES_PASSWORD=password
RAILS_MAX_THREADS=5
RAILS_DEVELOPMENT_DATABASE_URL=postgres://postgres:password@postgres/gol_development
RAILS_TEST_DATABASE_URL=postgres://postgres:password@postgres/gol_test